*{
  margin: 0;
  padding: 0;
}

header{
  padding: 50px;
}
.nav{
  display: flex;
  background-color: rgb(255, 97, 124);
  padding: 20px;
  gap: 700px;
}
.nav2{
  display: flex;
  gap: 20px;
}

footer{
  background-color: rgba(255, 97, 123, 0.544);
  padding: 20px;
  color: black;
align-content: center;
margin-top: 460px;
text-align: center;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  overflow-y: auto;
}

.cart-main {
  padding: 20px;
}



.shop-main{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 400px 400px 400px;
  margin-left: 150px;
  margin-top: 90px;
  gap: 100px;
}

.shop-main div{
  border: 1px rgb(255, 97, 124) solid;
padding: 10px;
border-radius: 5%;
}

.product-main{
  border: 1px rgb(255, 97, 124) solid;
  margin-top: 20px;
  display: flex;
  width: 500px;
  padding: 20px;
  margin-left: 450px;
  margin-top: 50px;
}

#product{
    padding: 20px;

}
.cart-main h3{
  padding: 20px;
}

img{
  height: 200px;
  width: 200px;
}
.pagination{
  display: flex;
}